*{font-family: Arial, Helvetica, sans-serif;
font-size: 16px;}

body{background-color: rgb(188, 188, 244);}

main{background-color: white;
margin: auto;
width: 500px;
box-shadow: 3px 3px 5px black;
padding: 10px;}